.mobileChatMenu{
    position: fixed;
    z-index: 101;
    height: 100%;
    width: 250px;
    right: -250px;
    top:56px;
    background-color: #fff;
    padding: 20px ;
    box-sizing: border-box;
    transition: all .2s;
}
.mobileChatMenu >.chatMenu__item {
display: flex;
    align-items: center;
    width: 100%;
}
.mobileChatMenu >.chatMenu__item > hgroup{

}
.mobileChatMenu >.chatMenu__item > img{
    width: 34px;
    height: 34px;
    margin-right: 10px;
}
.openMobileMenu {
    right: 0;
}