.chat{
    height: 675px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #fff;
    position: fixed;
    right:-375px;
    top: 70px;
    z-index: 10000;
    background-color: #fff;
    transition: 0.5s;
}
.active{
    right:75px;
}
.chat__header{
    padding: 17px;
    box-sizing: border-box;
    background:#7c5ac2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


}
.chat__headerContainer{
    display: flex;
    align-items: center;
    width: 45px;
    justify-content: space-between;
}
.chat__headerStatus{
     width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #32e4cd;
}
.chat__headerTitle{
    color: #fff;
}
.chat__message{
    display: flex;
    list-style: none;
    align-items: flex-start;
    margin-bottom: 10px;
}
.chat__messageImg{
    width: 28px;
    border-radius: 50%;
    height: 28px;

    margin-left: 5px;
}
.chat__messageText{
    padding: 13px;
    background-color: #f0f4f9;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 13px;
    margin-left: 5px;
}
.chat__body{
    height: 540px;

overflow-y: auto;
    background-color: #fff;
    padding: 20px;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}
.chat_personMessage{
    align-self: flex-end;
    flex-direction: row-reverse;
}
.chat_personMessage >article> p {
    background-color: #7c5ac2;
    color: white;

}
.chat__messageTime{
    font-size: 10px;
}