.personAvatar{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}
.personAvatar__name{
    margin: 0;
    color: #515365;
}
.personAvatar__date{
    margin-top:5px;
    font-size: 12px;
}
.post__infoPersonImg{
    position: relative;
}
.post__status{
    position: absolute;
    top:0;
    left:5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #32e4cd;
}
@media all and (max-width: 1200px){
    .personAvatar >hgroup{
        display: none;

    }
}