.content{

    display: grid;
    width: 70%;
    min-width: 1200px;
    grid-gap: 50px;
    grid-template-columns: 1fr 2fr 1fr;
}
.sideContainer__listImg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    list-style: none;
    grid-gap: 1px;
    padding: 0;
}
.sideContainer__listImg>li>img{
width: 85px;
height: 85px;
    border-radius: 5px;
}
.content__list{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
}
@media all and (max-width: 1365px){
    .content{
        min-width:950px;
        width: 80%;
    }
}
@media all and (max-width: 1200px){
    .content{
        min-width:0px;
        width: 80%;
        grid-template-columns:1fr;

    }
    .content__list > .sideContainer{
        display: none;
    }
}
@media all and (max-width: 800px){
    .content{
        width: 95%;
        max-width: 620px;

    }

}