.leftMenu{
    height:20%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.leftMenu__Link{
    color: #9a9fbf;
    text-decoration: none;

}
.leftMenu__Link:hover{
    color:#ff5e3a;
}
@media all and (max-width: 800px){
    .leftMenu__Link{
        display: flex;
        cursor: pointer;
        align-items: center;
    }
}