.fullEvent{
    background-color: #fff;
    position: relative;
    width: 700px;
    border-radius: 10px;
}
.fullEvent__header{
    display: flex;
    align-items: center;
    padding:10px 20px;
}
.fullEvent__header > img{
    height: 40px;
    margin-right: 20px;
}
.fullEvent >img{
    height: 400px;
    width:100%;

}
.fullEvent > article{
    display: flex;
    padding:10px 20px;
}
.fullEvent > article > ul{
    list-style: none;
}
.fullEvent > article > p{
    width: 70%;
    border-right: 1px solid lightgrey;
    padding-right: 15px;
}

@media all and (max-width: 600px){
    .fullEvent{
        width: 90%;
        max-width: 300px;

        margin-top:15%;
    }
    .fullEvent > article > ul{
        padding: 0;
        margin: 0;
    }

    .fullEvent > article{
        flex-direction: column;
         align-items: flex-start;
        justify-content: flex-start;
    }
    .fullEvent >img{
        height: 130px;
    }
    .fullEvent > article > p{
        border-right: none;
        width: 80%;
        order:2;
        padding-right: 0;

    }
    .fullEvent__header>hgroup>h1{
        font-size: 22px;
    }
    .fullEvent__header>hgroup>h4{
        font-size: 14px;
    }
}