.calendar{
    padding-bottom: 40px;
    font-size: 14px;
    color: #fff;
    background-color:#edf2f6;
    z-index: -12;
    display: flex;
    flex-direction: column;
    min-width: 1400px;

}
.calendar__header{
    padding-top:50px;
    height: 410px;
    position: relative;
    box-sizing: border-box;
}
.calendar__headerOverlay{
    width: 100%;
    z-index: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 20px;
    position: relative;
}
.calendar__headerBackground{
    background-image: url('https://html.crumina.net/html-olympus/img/top-header5.png');
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: animatedBackground 50s linear infinite ;
    -webkit-animation: animatedBackground 50s linear infinite;
    will-change: background-position;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
}

@keyframes animatedBackground {
    from { background-position: 0 100%; }
    to { background-position: -4000px 100%; }
}
.calendar__headerContent{
    display: flex;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    padding-top: 80px;
    width: 57%;
    flex-direction: column;
    align-items: center;

}

.calendar__headerContent>div > h1{
    font-size: 40px;
    text-align: center;
    font-weight: normal;
    color: #fff;
}
.calendar__headerContent >div> p{
    margin-bottom: 0px;
    font-size: 17px;
}

.calendar__container{
    margin-top: 30px;
    width: 70%;
    align-self: center;
}
.calendar__containerTitle{
    background-color: #fff;
    padding: 20px 30px;
}
.calendar__containerContent{
    display: flex;
    color: #3f4257;
    margin-top: 30px;
}
@media all and (max-width: 1460px) {
    .calendar{
        width: 100%;
        min-width: 700px;
    }
    .calendar__containerContent{
        flex-direction: column;
    }

    .calendar__headerContentImg{
       height: 90px;
    }
    .calendar__headerContent{
        width:80%;
    }
}
@media all and (max-width: 750px) {
    .calendar__headerContentImg{
        height:60px;
    }
    .calendar{
box-sizing: border-box;
        min-width: 0;
    }
    .calendar__headerContent > div > h1{
        font-size: 30px;
    }
    .calendar__headerContent > div > p{
        font-size: 15px;
    }
}
@media all and (max-width: 520px) {
    .calendar__headerContent > div > p{
        font-size: 14px;
    }
    .calendar__headerContentImg{
        height:55px;
    }
}
@media all and (max-width: 420px) {
    .calendar__headerContent > div > p{
        font-size: 12px;
    }
    .calendar__headerContentImg{
        height:40px;
    }
}