@keyframes fade {
    0%   {opacity: 0;}

    100% {opacity: 1;}
}
.newPostItem{
    animation-name: fade;
    animation-duration: 1.5s;
}
.post{
    background-color: #fff;

    border-radius: 5px;
    margin-bottom: 10px;
}
.post__container{
    padding: 20px;
    border-bottom: 1px solid #e6ecf5;

    margin-bottom: 0;
}
.post__feed{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post__infoPerson{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.post__infoPersonImg{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.post__feedShare{
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.post__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post__infoName{
    margin: 0;
    color: #515365;
}
.post__infoDate{
   margin-top:5px;
}
.post__feedLikes{
    display: flex;
    width: 40px;
    justify-content: space-between;
}
.post__feedItem{
    cursor: pointer;
}
.post__feedItem:hover{
color: #ff5e3a;
}
.post___feedShare__count{
    display: flex;
    justify-content: space-between;
    width: 45px;
}
.post__text{
    text-align: left;
    border-bottom: 1px solid #e6ecf5;
    padding-bottom: 15px;
}
.poster{
    position:relative;
}
.descr{
    display:none;
        top:0;
    right: 0;
    padding:5px 10px;
    margin-top:17px;
    height: 75px;
    background-color: #fff;
    -moz-box-shadow:0 0 34px 0 rgba(63, 66, 87, 0.1);
    -webkit-box-shadow:0 0 34px 0 rgba(63, 66, 87, 0.1);
    box-shadow:0 0 34px 0 rgba(63, 66, 87, 0.1);
}
.poster:hover .descr{
    display:block;
    position:absolute;
    z-index:9999;
    width:150px;
}
.descr > ul{
    padding: 0;
    list-style: none;
    text-align: left;
    height: 100%;
}
.post__descrLink{
    color: #515365;
    cursor: pointer;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
}
.post__descrLink:hover{
    color: #ff5e3a;

}
