.addMessage{
    border-top:2px solid #e6ecf5;
    padding-top: 5px;
    box-sizing: border-box;
    position: relative;

}
.addMessage > textarea{
    width:100%;
    height:100%;
    outline: none;
    margin-bottom: 10px;

    resize: none;
    padding: 20px 20px;
    box-sizing: border-box;
    transition: all 0.2s;
    border: none;
    z-index: 10000;

}