.customToolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height:60px;
    background-color: #fff;
    list-style: none;
    margin: 0;

}

.customToolbar__item{
    border-left: 1px solid #e6ecf5;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 30px;

}
.customToolbar > li{
height: 100%;

}
.rbc-btn-group{
    display: flex;
    width: 80%;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding:0 15px;
}
.activeView{
    background-color: rgba(8,221,193,.2);

}
.customToolbar__arrow{
    cursor: pointer;

}
.customToolbar__arrow:hover{
   color: rgb(8,221,193);
    transition: all 0.3s;
}